@import "./libs/normalize.scss";
@import "./libs/bootstrap.scss";

/* main-style start */

@font-face font-family: 'manrope-regular'
	src: url(./fonts/manrope-regular.ttf)

@font-face
	font-family: 'manrope-bold'
	src: url(./fonts/manrope-bold.ttf)

@font-face
	font-family: 'manrope-light'
	src: url(./fonts/manrope-light.ttf)

@font-face
	font-family: 'manrope-medium'
	src: url(./fonts/manrope-medium.ttf)

$regular: 'manrope-regular', sans-serif
$bold: 'manrope-bold', sans-serif
$text: 'manrope-light', sans-serif
$medium: 'manrope-medium', sans-serif
$bg: #1b2731
$bg-form: #2e4254
$blue: #2b95d0
$label: rgba(255, 255, 255, 0.69)
$placeholder: rgba(194, 194, 194, 0.65)
$red: #FF6354
$green: #62FFA1

$black: #000
$gray: #cccccc
$light-gray: #dcdcdc
$white: #ffffff

@mixin box-shadow
	box-shadow: 0 0 5px rgba(0,0,0,0.5)

*
	margin: 0
	padding: 0
	font-family: $text

button, input, textarea, select
	&:active, &:focus, &:hover, &.form-control, &.navbar-toggler
		outline: none!important 

html, body
	width: 100%
	background-color: $white

@mixin flex-column
	display: flex 
	align-items: center 
	flex-direction: column

@mixin align-items-center
	display: flex 
	align-items: center

@mixin justify-content-center
	display: flex 
	align-items: center
	justify-content: center

@mixin justify-content-between
	display: flex 
	align-items: center
	justify-content: space-between

@mixin justify-content-around
	display: flex 
	align-items: center
	justify-content: space-around

@mixin flex-wrap
	display: flex 
	align-items: center
	justify-content: space-between
	flex-wrap: wrap

@media only screen and (max-width: 992px)
	.navbar-toggler
		outline: none!important;

@mixin mobile 
	@media only screen and (max-width: 767px)
		@content

@mixin md 
	@media only screen and (max-width: 1023px)
		@content
	
	

