.footer {
  color: #798088;

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__col {
    @include mobile {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__logo {
    font-size: 28px;
    color: #fff;

    &:link,
    &:active,
    &:hover,
    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }

  &__navigation {
    list-style-type: none;
    margin: 0;
  }

  &__li {
    &_title {
      color: #ced1d4;
    }

    &_link {
      font-size: 14px;
      margin-top: 5px;
      cursor: pointer;

      &:link,
      &:active,
      &:hover,
      &:visited {
        color: #798088;
      }
    }
  }

  &__copyrights {
    border-top: 1px solid #525961;
    padding: 20px 0;
    text-align: center;
  }

  &__socials {
    display: flex;
    margin-top: 15px;
  }

  &__social-item {
    background-color: #525961;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      fill: #1b2731;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
