.header__row {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  flex: 1;

  @include md {
    margin-top: 10px;
  }

  @include mobile {
    padding: 0 20px;
    border-color: transparent;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    flex-direction: column;
    top: 70%;
    width: 100%;
    background: #1b2731;
  }

  &_open {
    @include mobile {
      padding: 20px;
      max-height: 500px;
      overflow: initial;
      transform: scaleY(1);
      border-bottom: 2px solid #76c4f2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.header__user {
  display: flex;
}

.header__user-email {
  margin-right: 10px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }
}
.header__logo-text {
  margin-left: 10px;
}

.header__options {
  @include mobile {
    margin-top: 10px;
    display: flex;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__nav-item {
  &:not(:first-child) {
    margin-left: 40px;

    @include mobile {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
.header__nav-link {
  color: #fff;
  font-weight: 300;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }
}

.header__lang-container {
  position: relative;
}
.header__lang-change {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    fill: $white;
    height: 15px;
    width: auto;
  }

  p {
    color: $white;
    font-size: 14px;
    margin-bottom: 0;
    font-family: $text;
    margin-right: 5px;
  }
}

.header__lang-list {
  display: none;
  z-index: 2;
  background: linear-gradient(to right, #42c0ef, #0b99d6);
  position: absolute;
  right: 0;
  top: 35px;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;

  @include mobile {
    left: 0;
    min-width: 100px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &_active {
    display: block;
  }
}

.header__lang-list-item {
  cursor: pointer;
}

.burger-menu,
.burger-menu_open {
  display: none;
  cursor: pointer;
  padding: 10px;

  @include mobile {
    display: inline-block;
  }
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu_open .bar1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu_open .bar2 {
  opacity: 0;
}

.burger-menu_open .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
