.landing-header {
  background-image: url('../img/header.png');
  background-size: cover;
  background-position: center;

  &__container {
    padding-top: 65px;
    padding-bottom: 100px;
  }

  &__row {
    &:not(:first-child) {
      margin-top: 65px;
    }
  }

  &__col {
    &_full {
      text-align: center;
    }
  }

  &__text {
    color: #fff;
    text-align: center;
    font-size: 22px;

    @include mobile {
      font-size: 16px;
    }

    &_title {
      font-size: 42px;

      @include mobile {
        font-size: 32px;
      }
    }
  }

  &__btn {
    min-width: 225px;
    min-height: 50px;
    background: linear-gradient(to right, #42c0ef, #0b99d6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

.landing-section {
  padding-top: 65px;
  padding-bottom: 65px;

  &:nth-child(even) {
    background-color: #fff;
    color: #1b2731;
  }

  &:nth-child(odd) {
    background-color: #1b2731;
    color: #fff;
  }

  &_join {
    &:nth-child(1n) {
      background: linear-gradient(to right, #42c0ef, #0b99d6);
    }
  }

  &__row {
    &:not(:first-child) {
      margin-top: 65px;
    }
  }

  &__col {
    @include mobile {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &_center {
      text-align: center;
      height: 125px;
      @include mobile {
        height: 70px;
      }
    }
  }

  &__img {
    width: 100%;

    &_step-1 {
      width: 125px;
      height: 140px;
    }

    &_step-2 {
      width: 220px;
      height: 160px;

      @include md {
        width: 180px;
        height: auto;
      }
    }

    &_step-3 {
      width: 170px;
      height: 130px;

      @include md {
        width: 130px;
        height: auto;
      }
    }

    &_fix {
      width: auto;
    }

    &_partner {
      @include mobile {
        max-width: 200px;
      }
    }

    &_partner-small {
      max-width: 200px;
    }

    &_star {
      width: 20px;
      height: 20px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  &__text {
    font-size: 28px;

    @include mobile {
      font-size: 22px;
    }

    &_title {
      font-weight: 700;
      text-align: center;
    }

    &_step {
      font-size: 22px;
      margin-top: 30px;

      @include mobile {
        font-size: 18px;
        margin-top: 20px;
      }
    }

    &_stats-title {
      font-size: 34px;
      font-weight: 700;
      color: #42b5e9;

      @include mobile {
        font-size: 28px;
        text-align: center;
      }
    }

    &_stats-white {
      color: #fff;
    }

    &_stats-subtitle {
      color: $gray;
      font-size: 14px;
      font-weight: 300;

      @include mobile {
        text-align: center;
      }
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    text-align: center;

    @include md {
      justify-content: center;
    }
  }

  &__stat {
    text-align: center;
  }
}

.feedback-container {
  padding: 0 10px;
}

.landing-feedback {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;

  @include mobile {
    flex-direction: column;
    background: #42b5e9;
  }

  &__content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 75px;
    position: relative;
    background: #42b5e9;
    z-index: 2;

    @include mobile {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 40px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -50px;
      width: 100%;
      height: 100%;
      transform: skew(-10deg);
      background: #42b5e9;

      @include mobile {
        display: none;
      }
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    @include mobile {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__stars {
    display: flex;
  }

  &__date {
    display: flex;
  }

  &__full-date {
    margin-left: 20px;
  }

  &__text {
    font-size: 28px;

    &_title {
      font-weight: 700;
    }

    &_subtitle {
      font-size: 16px;
      font-weight: 300;
      margin-top: 30px;
    }
  }

  &__photo-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    @include mobile {
      height: 200px;
    }
  }

  &__img {
    width: 100%;

    &_photo {
      position: absolute;
      top: 0;
      left: 0;

      @include md {
        height: 100%;
        width: auto;
      }

      @include mobile {
        width: 100%;
        height: auto;
      }
    }

    &_star {
      width: 20px;
      height: 20px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }

    &_star-unmarked {
      opacity: 0.5;
    }
  }
  &__arrow {
    position: absolute;
    right: 25px;
    width: auto;
    height: 20px;
    z-index: 1;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;

    @include mobile {
      right: 10px;
    }

    &_prev {
      left: 25px;
      right: initial;
      transform: rotate(180deg);

      @include mobile {
        left: 10px;
      }
    }
  }
}

.landing-join-form {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  &__input {
    background-color: #abdff4;
    color: #1b2731;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    flex: 1;

    &::placeholder {
      color: #506a79;
    }
  }

  &__btn {
    background-color: #284395;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    margin-left: 40px;

    @include mobile {
      margin-left: 0;
      margin-top: 10px;
      min-width: auto;
      min-height: 54px;
    }

    &:hover {
      color: #fff;
    }
  }
}

.ant-carousel .slick-slide {
  overflow: hidden;
}
