@import "./common-multiuse.sass"
@import "./header.scss"
@import "./footer.scss"
@import "./landing.scss"

.page
	min-height: 100vh
	background: $bg
	.logo 
		display: flex
		align-items: center
		text-decoration: none !important
		h5
			margin-bottom: 0
			color: $white
			font-family: $bold
			font-size: 18px
			margin-left: 10px
		svg 
			position: relative
			top: -3px
	.log-reg, .log-reg a
		font-size: 14px
		font-family: $text
		color: $white
		text-decoration: none !important
		outline: none !important

		@include mobile 
			margin-top: 10px
		
	.form-wrap
		@include justify-content-center
		flex-direction: column
		min-height: calc(100vh - 53px)
		form 
			display: flex
			flex-direction: column
			background: $bg-form
			padding: 40px 100px
			box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25)
			h4 
				color: $white
				font-size: 18px
				font-family: $text
				margin-bottom: 3rem
				text-align: center
			label 
				color: $label
				font-family: $text
				font-size: 14px
				padding: 0 20px
			input 
				color: $label
				font-size: 14px
				font-family: $text
				outline: none !important
				text-decoration: none !important
				box-shadow: none !important
				border: none
				background: none !important
				border-radius: 0px
				border-bottom: 2px solid rgba(194,194,194, 0.8)
				padding: 5px 20px
				margin-bottom: 1.5rem
				width: 250px
				
			button
				@include justify-content-center
				background: $blue
				min-width: 96px
				min-height: 42px
				padding: 5px 10px
				color: $white
				font-family: $text
				font-size: 14px
				text-align: center
				border: none !important
				outline: none !important
				box-shadow: none !important
				cursor: pointer
				border-radius: 10px
				margin: 0 auto
		p
			color: $white
			font-family: $text
			font-size: 14px
			a 
				color: $white
				font-family: $text
				font-size: 14px
				text-decoration: underline !important

//refill
.page-refill
	.page-wrap
		min-height: calc(100vh - 53px)
		@include justify-content-center
		flex-direction: column
		h2 
			text-align: center
			font-family: $bold
			font-size: 28px
			color: $white
			margin-bottom: 3rem
		p 
			color: $white
			font-family: $text
			font-size: 14px
			margin-bottom: 3rem
			text-align: center
			a 
				color: $blue
				font-size: 14px
				font-family: $text
		.btns a, button
			width: 189px
			height: 43px
			display: block
			border: solid 2px $blue
			outline: none !important
			box-shadow: none !important
			background: none
			color: $white
			text-align: center
			font-size: 15px
			font-family: $text
			border-radius: 20px
			margin: 0 20px
			cursor: pointer
			text-decoration: none !important
			@include justify-content-center

			&.active
				background: linear-gradient(to right, #76c4f2, #639ad5)
				border: none !important

			@include mobile 
				&:not(:first-child) 
					margin-top: 10px
		.btns 
			@include mobile
				flex-direction: column
			

	.refill-choose
		background: $white
		padding: 5px 10px
		cursor: pointer
		min-height: 56px
		h6
			font-size: 14px
			font-family: $text
			color: $blue
			margin-bottom: 0
		.refill-select
			display: flex
			align-items: center
			justify-content: space-between
			position: relative
			p 
				font-family: $text
				color: $black
				font-size: 15px
				text-align: left
				margin-bottom: 0
			svg 
				height: 20px
				width: auto
				fill: $blue
		&.first
			border-radius: 5px 0 0 5px
			display: flex
			flex-direction: column
			justify-content: center
		&.second
			.refill-select
				background: $light-gray
				border-radius: 5px
				padding: 10px
				width: 100%
				position: relative
				&_active 
					border-bottom-left-radius: 0
					border-bottom-right-radius: 0
					
				svg 
					&:first-of-type
						fill: $black
						height: 26px
						width: auto
						margin-right: 5px
					&:last-of-type
						height: 20px
						width: auto
						fill: $blue
						margin-left: 5px
			input, p.input
				border: none !important
				outline: none !important
				box-shadow: none !important
				color: $black
				font-family: $medium
				font-size: 18px
				width: 100%	
				margin-bottom: 0
				display: block
				&::placeholder
					opacity: 0.7
					color: $black
					font-family: $medium
					font-size: 18px
			h6 
				width: 120px
		&.last
			border-radius: 0 5px 5px 0
			display: flex
			flex-direction: column
			justify-content: center
			input, p.input
				border: none !important
				outline: none !important
				box-shadow: none !important
				color: $black
				font-family: $medium
				font-size: 18px
				width: 100%	
				margin-bottom: 0
				display: block
				&::placeholder
					opacity: 0.7
					color: $black
					font-family: $medium
					font-size: 18px
		.select-list
			display: none
		&.active .select-list
			background: $white
			position: absolute
			bottom: -5px
			transform: translateY(100%)
			left: -10px
			right: -10px
			box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25)
			display: block
			border-radius: 0 0 5px 5px
			max-height: 210px
			overflow-y: auto
			p
				padding: 10px
				margin-bottom: 0
				color: $black
				font-size: 15px
				text-align: left
				font-family: $text
				&:hover
					background: rgba(196,196,196,0.46)
					color: $blue
				svg 
					margin-left: 12px!important
	button.btn-refill
		border-radius: 5px
	nav 
		.user-email a
			color: $white
			font-size: 14px
			margin-bottom: 0
			font-family: $text
			margin-right: 5px
			display: block
			text-decoration: none !important
		menu 
			display: flex
			.menu-item
				padding: 10px
				a 
					color: $white
					font-size: 14px
					margin-bottom: 0
					font-family: $text
					display: block
					text-decoration: none !important
					text-align: center

//deposit

.page-deposit
	.stock
		background: #2e4254
		max-width: 780px
		padding: 20px 30px
		display: block
		margin: 0 auto 2rem
		min-height: 100px
		display: flex
		align-items: center
		.row 
			width: 100%
		img 
			height: 25px
			width: auto
		a, button
			width: 189px
			height: 43px
			display: block
			border: solid 2px $blue
			outline: none !important
			box-shadow: none !important
			background: none
			color: $white
			text-align: center
			font-size: 15px
			font-family: $text
			border-radius: 20px
			margin: 0 auto
			cursor: pointer
			text-decoration: none !important
			@include justify-content-center
			&.active
				background: linear-gradient(to right, #76c4f2, #639ad5)
				border: none !important

//connect-api
.page-connect-api
	p 
		margin-bottom: 1rem
		margin-top: 0
		text-align: center
		position: relative
		left: -35px
	form
		button
			min-width: 200px
			text-align:center
		input
			width: 100%
	img 
		display: block
		margin: 0 auto 1rem
		height: 50px
		width: auto

//partner
.page-partner
	.partner-block
		background: $bg-form
		padding: 20px
		h3 
			text-align: left
			font-family: $bold
			font-size: 28px
			color: $white
			margin-bottom: 1rem
			margin-left: 0
		p 
			color: $white
			font-family: $text
			font-size: 14px
			margin-bottom: 1rem
			text-align: left
			margin-left: 0
			a 
				color: $blue
				font-size: 14px
				font-family: $text
		h6
			color: $white
			font-family: $text
			font-size: 16px
			margin-bottom: 1rem
			text-align: left
			margin-left: 0
		label 
			color: $label
			font-family: $text
			font-size: 14px
			padding: 0 20px
		input 
			color: $label
			font-size: 14px
			font-family: $text
			outline: none !important
			text-decoration: none !important
			box-shadow: none !important
			border: none
			background: none !important
			border-radius: 0px
			border-bottom: 2px solid rgba(194,194,194, 0.8)
			padding: 5px 20px
			margin-bottom: 1.5rem
			width: 100%
			&::placeholder
				opacity: 0.7
				color: $label
				font-family: $text
				font-size: 14px
		.table
			margin-bottom: 1rem
			p 
				color: $white
				font-family: $text
				font-size: 14px
				margin-bottom: 1rem
				text-align: left
				margin-left: 0
				margin-bottom: 0
				a 
					color: $blue
					font-size: 14px
					font-family: $text
					margin-bottom: 0
					text-decoration: none !important
			tr:first-of-type
				td
					border-top: 0
			tr td 
				border-top: solid 1px rgba(255,255,255,0.69)
		h4 
			color: $white
			font-family: $text
			font-size: 16px
			margin-bottom: 0
			text-align: left
			margin-left: 15px
		.soc 
			a 
				text-decoration: none !important
				display: block
				margin-right: 20px
				svg 
					height: 30px
					width: auto
					fill: $blue
		&.invited
			h4:last-of-type
				margin-right: 20px
			.table-wrap
				overflow: auto
				display: block
				max-height: 516px
				margin-bottom: 1rem
//settings
.page-settings
	.page-wrap
		button 
			width: 250px


//landing
.page-landing
	&__header
		overflow-x: hidden
	&__h1
		font-family: $medium
		color: $white
		font-size: 36px
	&__p
		font-family: $text
		color: $white
		font-size: 18px
	&__btn
		width: 202px
		height: 43px
		display: block
		border: solid 2px $blue!important
		outline: none !important
		box-shadow: none !important
		background: none
		color: $white
		text-align: center
		font-size: 18px
		font-family: $regular
		border-radius: 5px
		margin: 0 
		text-decoration: none !important
		@include justify-content-center
		cursor: pointer !important
		&.active
			background: linear-gradient(to right, #76c4f2, #639ad5)
			border: none !important
			color: $white
	&__img
		width: 150%
		height: auto
		display: block
		margin: 0 auto

.weaccept
	&__p
		color: $white
		font-size: 14px
		font-family: $text
		margin-bottom: 0
	&__img
		height: 28px
		margin-left: 10px
		width: auto

.trustpilot
	height: 21px
	width: auto

.payment
	background: #E5E5E5
	&__h2
		color: $bg
		font-family: $medium
		font-size: 36px
	&__img
		width: 100%
		height: auto
		display: block
	&__num
		background: $bg
		color: $white
		font-size: 26px
		text-align: center
		@include justify-content-center
		height: 40px
		width: 40px
		border-radius: 50%
		font-family: $bold
		margin: 0 auto
	&__payment
		color: $bg
		font-size: 20px
		font-family: $text
		margin-bottom: 0

.platforms
	&__h2
		color: $white
		font-family: $medium
		font-size: 36px
	&__img
		width: 80%
		display: block
		margin: 0 auto
		height: auto
	&__h3
		color: $blue
		font-family: $bold
		font-size: 38px
		text-align: center
	&__p
		color: $blue
		font-family: $text
		font-size: 20px
		text-align: center

.start
	background: #E5E5E5
	&__h2
		color: $bg
		font-family: $medium
		font-size: 36px
	&__img
		height: 75px
		width: auto
		display: block
		margin: 0 auto 2.5rem
	&__h3
		text-align: center
		font-family: $text
		color: $bg
		font-size: 30px

.buy
	background: #02325A
	&__h2
		color: $white
		font-family: $medium
		font-size: 36px

.type
	width: 70%
	display: flex
	align-items: center
	margin: 0 auto
	&__input 
		padding: 5px 10px
		color: $black
		font-family: $text
		font-size: 26px
		border-radius: 5px 0 0 5px
		outline: none !important
		border: none !important
		box-shadow: none !important
		flex: 1
	&::placeholder
			opacity: 0.7
			color: #6F6F6F
			font-family: $text
			font-size: 26px
	&__btn
		width: 202px
		height: 49px
		display: block
		border: solid 2px $blue!important
		outline: none !important
		box-shadow: none !important
		background: $blue
		color: $white
		text-align: center
		font-size: 18px
		font-family: $regular
		border-radius: 0 5px 5px 0
		margin: 0 
		text-decoration: none !important
		@include justify-content-center
		cursor: pointer !important
		text-decoration: none !important

.logo 
	display: flex
	align-items: center
	text-decoration: none !important
	&__h5
		margin-bottom: 0
		color: $white
		font-family: $bold
		font-size: 18px
		margin-left: 10px
	&__svg 
		position: relative
		top: -3px

.footer
	background: $bg
	&__p
		color: $white
		font-family: $text
		font-size: 15px
		margin-bottom: 0
		&-12
			font-size: 12px
	&__a
		color: $white!important
		font-family: $text
		font-size: 14px
		text-decoration: none !important
		margin-bottom: 0
		&-email
			font-size: 27px
			margin: 1rem 0
			display: block
	&__h3
		color: $white
		font-family: $text
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 0
	&__hr
		margin: 0
		border-top: solid 1px #B2B2B2

.soc 
	&__a 
		text-decoration: none !important
		display: block
		margin-right: 20px
		&:last-of-type
			margin-right: 0
	&__img 
		height: 30px
		width: auto
		fill: $blue

@media only screen and (max-width: 992px)
	.page
		.logo
			justify-content: center
		.form-wrap
			min-height: calc(100vh - 74px)
			form 
				padding: 40px 0
				width: 100%
				label, input
					display: block
					margin-left: auto
					margin-right: auto
					width: 250px
	.page-refill
		.page-wrap
			min-height: calc(100vh - 74px)
			button 
				margin: 0 auto 1.5rem
			.refill-choose
				border-radius: 0
				margin-bottom: 10px
		nav 
			menu 
				display: flex
				flex-wrap: wrap
				margin: 10px 0
				.menu-item
					padding: 5px
					flex: (1)
		.stock
			padding: 15px 0 5px
			.row 
				width: auto
			img 
				display: block
				margin: 0 auto 1rem
			a 
				margin: 0 auto 1rem
	.page-landing
		&__img
			width: 100%
			margin: 0 auto
	.type
		flex-direction: column
	.soc
		justify-content: center

.icon-wrapper
	display: flex

	&_up
		transform: rotate(180deg)

.form-label
	&_valid 
		color: $green !important

	&_invalid
		color: $red !important

.form-input
	&_valid 
		border-color: $green !important
		color: $green !important

	&_invalid
		border-color: $red !important
		color: $red !important

.form-status
	color: #fff
	text-align: center
	padding: 20px


.form-button
	text-align: center

	&_sending
		opacity: 0.7

	&_invalid
		border: solid 2px $red!important
		background-color: $red !important

.form-status
	color: #fff
	text-align: center
	padding: 20px

.table-wrap
	overflow-x: auto

.btn-refill
	@include justify-content-center
	background: linear-gradient(to right, #76c4f2, #639ad5);
	min-width: 196px
	height: 43px
	color: $white
	font-family: $text
	font-size: 15px
	text-align: center
	outline: none !important
	box-shadow: none !important
	cursor: pointer
	border-radius: 5px
	margin: 0 auto
	text-decoration: none

	&:hover
		text-decoration: none
		color: $white

.btn-logout
	cursor: pointer

.page-loader
	display:flex
	align-item:center
	justify-content: center

	&:before
		content: ""
		position: fixed
		width: 100px
		height: 100px
		animation: rotation 1s linear infinite
		border-radius: 100px
		border: 20px solid #fff
		border-left-color: transparent
		border-right-color: transparent
		top: calc(50% - 50px)
		left: calc(50% - 50px)

@-webkit-keyframes rotation 
	from 
		-webkit-transform: rotate(0deg);
	
	to 
		-webkit-transform: rotate(360deg);
		

.refill-select-list
	display: none
	position: absolute
	top: 100%
	left: 0
	width: 100%
	z-index: 2
	background: $light-gray
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	
	&_active
		display: flex
		flex-wrap: wrap
		flex-direction: column
		border-bottom-right-radius: 5px
		border-bottom-left-radius: 5px

.refill-select-list__item
	display: flex
	align-items: center
	justify-content: space-between
	padding: 5px 10px
	width: 100%
	&:not(:first-child)
		border-top: 2px solid #bbb;

.refill-form-tag 
	position: absolute
	width: 35% !important
	right: -10px
	top: calc(100% + 10px)
	padding: 5px
	border-radius: 5px
	background: $white
	text-align: center

.currency-icon
	width: 24px
	height: 24px
	background: $blue
	border-radius: 50%
	padding: 4px



.header 
	color: $white
